{% extends 'base.html' %}
{% load static %}

{% block title %}
SPM - About
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>About This Project</h4>
                </div>
                <div class="card-body">
                    <p>Team Members:</p>
                    <ul class="list-group">
                        <li class="list-group-item">Shivangi</li>
                        <li class="list-group-item">Pummy</li>
                        <li class="list-group-item">Nitika</li>
                        <li class="list-group-item">Vijay Prakash</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <hr> <br>
            <p class="lead">The Stock Portfolio Manager project developed in Django is a robust and user-friendly web application
                designed to help investors efficiently manage their stock portfolios. This project leverages the power
                of the Django web framework to provide a seamless and secure experience for users. <br> <br>

                Key features of the Stock Portfolio Manager project include:</p> <br>
                <ul>
                    <li>User Registration and Authentication</li> <br> 
                    <li>Portfolio Creation and Management</li> <br>
                    <li>Real-time Stock Data</li> <br>
                    <li>Security and Data Protection</li> <br>
                    <li>Responsive Design</li> <br>   
                </ul> <br>


        </div>
    </div>
</div>
{% endblock %}