{% extends 'base.html' %}
{% load static %}

{% block title %}
SPM - About
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>About this Project</h2>
            <hr> <br>
            <p class="lead">The Stock Portfolio Manager project developed in Django is a robust and user-friendly web application
                designed to help investors efficiently manage their stock portfolios. This project leverages the power
                of the Django web framework to provide a seamless and secure experience for users. <br> <br>

                Key features of the Stock Portfolio Manager project include:</p> <br>
                <ul>
                    <li>User Registration and Authentication</li> <br> 
                    <li>Portfolio Creation and Management</li> <br>
                    <li>Real-time Stock Data</li> <br>
                    <li>Security and Data Protection</li> <br>
                    <li>Responsive Design</li> <br>   
                </ul> <br>


        </div>
    </div>
</div>
{% endblock %}